<section class="party-summary">
  {{#if canViewSummary}}
    <nav class="party-tabs">
      <button class="tab-btn active" data-tab="players">Player Characters</button>
      {{#if isGM}}
        <button class="tab-btn" data-tab="npcs">NPCs</button>
      {{/if}}
    </nav>

    <div class="tab-content is-active" data-tab="players">
      {{#if actors.length}}
        <ul class="party-grid">
          {{#each actors}}
            {{> "modules/partyview/templates/partials/actor-card.hbs" actor=this showIcons=../showIcons draggable=true}}
          {{/each}}
        </ul>
      {{else}}
        <p class="empty">{{localize "PARTYVIEW.Empty"}}</p>
      {{/if}}
    </div>

    <div class="tab-content npc-drop-zone" data-tab="npcs">
      <div class="npc-header">
        <h3 class="npc-title">{{localize "PARTYVIEW.NPCs"}}</h3>
        <div class="drag-hint">
          {{localize "PARTYVIEW.DragNpcHint"}}
        </div>
      </div>

      {{#if npcs.length}}
        <ul class="party-grid">
          {{#each npcs}}
            {{> "modules/partyview/templates/partials/actor-card.hbs" actor=this showIcons=../showIcons isNpc=true}}
          {{/each}}
        </ul>
      {{else}}
        <div class="empty-drop-zone">
          <i class="fa-solid fa-users"></i>
          <p>
            {{localize "PARTYVIEW.DragNpcEmpty"}}<br>
            <small>{{localize "PARTYVIEW.DragNpcEmptySub"}}</small>
          </p>
        </div>
      {{/if}}
    </div>
  {{else}}
    <div class="gm-only">
      <p class="gm-only-title">
        <i class="fa-solid fa-lock"></i>
        {{localize "PARTYVIEW.GMOnly"}}
      </p>
      <p class="gm-only-sub">
        {{localize "PARTYVIEW.GMOnlyDesc"}}
      </p>
    </div>
  {{/if}}
</section>